@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Prociono&family=Roboto:wght@300;500&display=swap");

:root {
  // Fuente
  --font-Prociono: sans-serif, Monospace, Courier, Helvetica, Arial, "Prociono";
  // colores
  --color-FontNav: #000000;
  --backgroundrojo: red;
}
