.navbar {
  height: auto; /* Cambia la altura a "auto" para que se ajuste al contenido */
  display: flex;
  justify-content: space-between; /* Alinea el contenido en los extremos */
  align-items: center;
  margin-right: auto;
  padding: 10px;
}

@media (min-width: 1201px) {
  .navbar-brand {
    align-items: center;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    align-items: center;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0; /* Elimina los márgenes para el logo */
  padding: 0;
}

@media (min-width: 1201px) {
  .navbar_avatar {
    width: 50px;
    height: 50px;
    border: 2px solid #01ffff;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 2rem;
  }
}

/* Estilo para pantallas más pequeñas o iguales a 1200px */
@media (max-width: 1200px) {
  .navbar_avatar {
    display: none;
  }
}

@media (min-width: 990px) {
  .Logo {
    margin-top: 4vh;
    height: 80%;
    width: 100%; /* Cambia el ancho al 100% para que se ajuste automáticamente */
    max-width: 100%; /* Agrega esto para limitar el ancho */
    display: flex;
    pointer-events: none;
  }
}

@media (max-width: 991px) {
  .Logo {
    text-align: center; /* Centra horizontalmente */
    vertical-align: middle; /* Centra verticalmente */
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 30px;
    width: 100%; /* Cambia el ancho al 100% para que se ajuste automáticamente */
    max-width: 100%; /* Agrega esto para limitar el ancho */
    height: 200px;
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  .Logo {
    text-align: center; /* Centra horizontalmente */
    vertical-align: middle; /* Centra verticalmente */
    margin-top: 10vw;
    height: 80%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
  }
}
@media (max-width: 365px) {
  .Logo {
    text-align: center; /* Centra horizontalmente */
    vertical-align: middle; /* Centra verticalmente */
    margin-top: 15vw;
    height: 80%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
  }
}

@media (max-width: 280px) {
  .Logo {
    text-align: center; /* Centra horizontalmente */
    vertical-align: middle; /* Centra verticalmente */
    margin-top: 17vw;
    height: 80%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
  }
}

.navbar-toggler.collapsed {
  border: none;
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: none;
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
  margin-bottom: 5vh;
}

.space {
  margin: 1rem;
}
































//Dropdown Boton

// .nav-link.active,
// #collapsible-nav-dropdown {
//   cursor: pointer;
//   position: relative;
//   padding: 10px 20px;
//   font-size: 20px;
//   border-top-right-radius: 10px;
//   border-bottom-left-radius: 10px;
//   margin-bottom: 5px;
//   padding-bottom: 5px;
//   margin-left: 1rem;
//   background-color: #5fffff;
//   padding-left: 1rem;
//   text-align: center;
//   transition: all 2s;
//   &:after,
//   &:before {
//     content: " ";
//     width: 10px;
//     height: 10px;
//     position: absolute;
//     border: 0px solid #2f05c855;
//     transition: all 2s;
//   }
//   &:after {
//     top: -3px;
//     left: -7px;
//     border-top: 5px solid rgb(126, 107, 255);
//     border-left: 5px solid #d10000;
//   }
//   &:before {
//     bottom: -1px;
//     right: -1px;
//     border-bottom: 5px solid rgb(126, 107, 255);
//     border-right: 5px solid #db0000;
//   }
//   &:hover {
//     border-top-right-radius: 0px;
//     border-bottom-left-radius: 0px;
//     background: rgb(0, 0, 0);
//     color: #66d0b4;
//     transform: scale(1.1);
//     transition: 0.5s;

//     &:before,
//     &:after {
//       width: 100%;
//       height: 100%;
//       border-color: #2c0dc9;
//     }
//   }
// }

//item dropdown

// .dropdown-menu {
//   --bs-dropdown-bg: #66d0b4f5;
//   --bs-dropdown-link-active-color: #fff;
// }

// .dropdown-item:hover {
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
// }

// .nav-link.active,
// .dropdown-item {
//   display: block;
//   width: 100%;
//   padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
//   clear: both;
//   font-weight: 400;
//   color: #891079;
//   text-align: inherit;
//   text-decoration: none;
//   white-space: nowrap;
//   background-color: transparent;
//   border: 0;
//   border-radius: var(--bs-dropdown-item-border-radius, 0);
//   transition: box-shadow 0.3s;
// }
// .dropdown-divider {
//   height: 0;
//   margin: 0;
//   overflow: hidden;
//   border-top: 0px;
//   opacity: 1;
// }

// //Barra navbar desplegable
// @media (max-width: 991px) {
//   .navbar-nav {
//     flex-direction: column; /* Apila los elementos del menú verticalmente */
//     text-align: center; /* Centra horizontalmente el contenido */
//     margin-top: 20px; /* Ajusta este valor según tus necesidades */
//   }
// }

// @media (max-width: 480px) {
//   .navbar-nav {
//     position: relative;
//     text-align: center;
//     margin-top: 25vw;
//   }
// }
// .navbar .nav-item {
//   margin: 10px 0; /* Ajusta los márgenes de los elementos del menú */
// }
// .navbar .nav-link {
//   font-size: 16px; /* Ajusta el tamaño de fuente según tus necesidades */
// }

// .nav-link.active, //menu desplegable
// #collapsible-nav-dropdown {
//   cursor: pointer;
//   position: relative;
//   padding: 10px 20px;
//   font-size: 20px;
//   border-top-right-radius: 10px;
//   border-bottom-left-radius: 10px;
//   margin-bottom: 5px;
//   padding-bottom: 5px;
//   margin-left: 1rem;
//   background-color: #01ffff;
//   padding-left: 1rem;
//   text-align: center;
//   transition: all 2s;
// }
